body{
background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,113,121,0.6) 0%, rgba(0,212,255,1) 100%);
}

header{
font-size: 20px;
background:#797070;
padding: 1%;
}

header a{
margin:2%
}