<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/saveAlbum}" th:object="${album}" method="post">
    <input type="text" field="*{title}" placeholder="title" name="title" required/>
    <input type="text" field="*{artist}" placeholder="artist" name="artist" required />
    <input type="value" field="*{songCount}" placeholder="songCount" name="songCount" required />
    <input type="value" field="*{length}" placeholder="length" name="length" required/>
    <input type="text" field="*{imageUrl}" placeholder="imageUrl" name="imageUrl" required/>
    <input type="submit" name="submit" />
</form>
</body>
</html>